.conteinerCaixaDesafio {
  height: 100%;

  background: var(--branco);
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0,0,0, 0.1);
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.desafioNaoAtivo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desafioNaoAtivo strong{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

.desafioNaoAtivo p{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
  max-width: 70%;
  margin-top: 3rem;
}

.desafioNaoAtivo p img{
  margin-bottom: 1rem;
}

.desafioAtivo {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.desafioAtivo header {
  color: var(--azul);
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0 2rem 1.5rem;
  border-bottom: 1px solid var(--linha-cinza);
}

.desafioAtivo main {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desafioAtivo main strong {
  font-size: 2rem;
  font-weight: 600;
  color: var(--titulo);
  margin: 1.5rem 0 1rem;
}

.desafioAtivo main p {
  line-height: 1.5;
}

.desafioAtivo footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.desafioAtivo footer button {
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;

  color: var(--branco);

  font-size: 1rem;
  font-weight: 600;

  transition: filter 0.2s;
}

.desafioAtivo footer button.botaoDesafioPerdido{
  background: var(--vermelho);
}

.desafioAtivo footer button.botaoDesafioCompletado{
  background: var(--verde);
}

.desafioAtivo footer button:hover {
  filter: brightness(0.9);
}